#app-theme {
    --body-bg: var(--color-bg);
    --body-text: var(--color-text);

    --btn-bg: var(--color-primary);
    --btn-radius: var(--radius-base);
    --btn-text: #fff;

    --header-text: var(--color-text);
    --header-bg: var(--color-primary);
}