:root {
  --body-bg: var(--color-bg);
  --body-text: var(--color-text);

  --btn-bg: var(--color-primary);
  --btn-text: #fff;
  --btn-radius: var(--radius-base);

  --header-bg: var(--color-primary);
  --header-text: var(--color-text);
}
